extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen Sobre Nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                Blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis congue eros at interdum rhoncus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi dolor erat, euismod id risus blandit, fringilla congue nibh.

                p Suspendisse nec leo lobortis, ultrices nulla eget, tincidunt ex. Fusce lectus velit, molestie a eros sed, scelerisque faucibus nulla. Morbi ut faucibus nulla. Duis vitae tincidunt massa, vel vulputate arcu. 

                p Fusce pharetra turpis non erat aliquam scelerisque. Proin eros odio, tempus nec mattis vel, tristique at mi. Sed nec metus purus. Vestibulum mollis purus nec aliquet dictum. Cras imperdiet turpis ut quam pulvinar, eu vestibulum velit malesuada. Mauris pulvinar enim non velit vulputate, id dapibus urna consectetur. Aenean id neque aliquam, rutrum mauris eget, pharetra odio. Pellentesque dui erat, varius non semper ac, dapibus nec nibh. Morbi sed tempor lectus, ut venenatis nisl.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="Icono Seguridad", class="img-fluid mb-4")
                    h1.mb-4 seguridad
                    p Suspendisse nec leo lobortis, ultrices nulla eget, tincidunt ex. Fusce lectus velit, molestie a eros sed, scelerisque faucibus nulla.
                
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="Icono destinos", class="img-fluid mb-4")
                    h1.mb-4 Mejores Destinos
                    p Suspendisse nec leo lobortis, ultrices nulla eget, tincidunt ex. Fusce lectus velit, molestie a eros sed, scelerisque faucibus nulla.
                
                .col-md-4
                    img(src="img/icono_precios.svg", alt="Icono precios", class="img-fluid mb-4")
                    h1.mb-4 Los Mejores Precios
                    p Suspendisse nec leo lobortis, ultrices nulla eget, tincidunt ex. Fusce lectus velit, molestie a eros sed, scelerisque faucibus nulla.